/* header.css */


.nav {
    background-color: #007BFF;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
}
#welcome-landing{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

#welcome-landing .welcome-title {
    padding: 10px;
    font-size: 1.9rem;
    color: white;
}

#welcome-landing form button {
    background-color: orange;
    width: 140px;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: bolder;
    border: 2px solid black;
    cursor: pointer;
}
.title a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.userPresent {
    display: flex;
    align-items: center;
}

.nameOfUser {
    margin-right: 10px;
}

.logOut a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.noUser ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.noUser li {
    margin-right: 10px;
}

.noUser a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

hr {
    border: 0;
    border-top: 1px solid #fff;
}
